.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding-top: 20px;
}
.linkButton {
  list-style: none;
  text-decoration: none!important;
}
.catalog-button{
  list-style: none;
  text-decoration: none!important;
  color: white;
  width: 400px;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #bf2a2a;
  border: none;
}

.catalog-button:hover{
  margin-top: 10px;
  transform: scale(1.1, 1.1);

}