.titleAbout {
  margin-top: 20px;
  padding: 10px;
  background-color: #976b65;
  justify-content: center;
  color: white;
  font-size: 24px;
  margin-bottom: 0px;
  padding-left: 240px;
}

/* Para resolução de 768px */
@media screen and (max-width: 768px) {
  .titleAbout {
    font-size: 22px;
    padding-left: 180px;
  }
}

/* Para resolução de 646px */
@media screen and (max-width: 646px) {
  .titleAbout {
    font-size: 20px;
    padding-left: 150px;
  }
}

/* Para resolução de 525px */
@media screen and (max-width: 525px) {
  .titleAbout {
    font-size: 18px;
    padding-left: 120px;
  }
}

/* Para resolução de 468px */
@media screen and (max-width: 468px) {
  .titleAbout {
    font-size: 16px;
    padding-left: 100px;
  }
}

/* Para resolução de 400px */
@media screen and (max-width: 400px) {
  .titleAbout {
    font-size: 14px;
    padding-left: 80px;
  }
}

/* Para resolução de 290px */
@media screen and (max-width: 290px) {
  .titleAbout {
    font-size: 12px;
    padding-left: 60px;
  }
}
