.presentation-pisos {
  text-align: center;
  background-color: #976b65;
  margin-top: 40px;
  padding: 20px;
}

.titulo {
  font-size: 24px;
  margin-bottom: 10px;
}

.linha {
  border: none;
  border-top: 1px solid #000;
  margin-bottom: 10px;
}

.paragrafo {
  font-size: 18px!important;
  margin-bottom: 20px;
}

.imagens {
  display: flex;
}

.imagens img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  padding: 10px;
}

