/* styles.css */
.submenu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.submenu li {
  margin-right: 10px;
}

.submenu li:last-child {
  margin-right: 0;
}

.submenu a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s;
}

.submenu a:hover {
  color: #ff0000;
}

.toggle-button {
  display: none;
  cursor: pointer;
  padding: 8px;
  width: 160px;
  font-size: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: left;
  justify-content: space-between;
}

.todos{
  margin-left:90px;
}

.pisos{
  margin-left:90px;

}

.escadas {
  margin-left:80px;
}

.piscinas {
  margin-left:80px;
}

.seta{
  margin-left:50px;
}

.submenu.expandido ul {
  display: block;
}

@media (max-width: 920px) {
  .toggle-button {
    display: block;
    margin-bottom: 10px;
    margin-left: 65px;
  }

  .submenu ul {
    display: none;
  }

  .submenu.expandido ul {
    display: none;
  }

  .submenu.expandido ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }

  .submenu.expandido ul li {
    margin: 10px 0;
  }
}
