.EngenhariaSubMenu{
  padding: 50px;
  margin-left: 150px;
  margin-right: 150px;
}


@media (max-width: 800px) {
  .EngenhariaSubMenu{
    padding: 20px;
    margin-left: 10px;
    margin-right: 150px;
    width: 100%;
  }
  hr {
    display: none;
  }
}
