.formulario {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: grid;
  gap: 10px;
}

.formulario label {
  display: flex;
  margin-bottom: 8px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.descriptionAddress{
  display: grid;
  grid-template-columns: 1fr ;
  width: 100%!important;
}

.formulario .descriptionAddress input[type="text"]{
  width: 100%;
  margin-left: 70px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.descriptionName{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%!important;
}

.formulario .descriptionName input[type="text"]{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.description{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%!important;
}

.formulario .description input[type="text"]{
  width: 100%;
  margin-left: 70px;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.address{
  display: grid;
  grid-template-columns: 1fr 1fr!important;
  width: 100%!important;
}

.formulario .address input[type="text"]{
  width: 100%;
  margin-left: 92px!important;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.contatoPhone{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 100%!important;
}

.formulario .contatoPhone input[type="text"]{
  width: 100%;
  margin-left: 90px!important;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.formulario .contatoPhone input[type="email"]{
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}




.formulario input[type="text"]{
  width: 100%;
  margin-left: 20px;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.formulario input[type="file"] {
  width: 100%;
  margin-left: 10px;
  margin-right: 5px;
  padding: 8px;
  
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  display: block;
}

.formulario button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #45a049;
}

@media (max-width: 767px){
.formulario {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: grid;
  gap: 10px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="file"] {
  width: 100%;
  margin-left: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.formulario button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #45a049;
}


.address{
  display: grid;
  grid-template-columns: 1fr ;
  width: 100%!important;
}

.formulario .address input[type="text"]{
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}



.contatoPhone{
  display: grid;
  grid-template-columns: 1fr ;
  width: 100%!important;
}

.formulario .contatoPhone input[type="text"]{
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.formulario .contatoPhone input[type="email"]{
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
}



